<div class="container-main">
  <h1>Ice Cream Shop</h1>
  <div class="card-container-top d-flex justify-content-evenly">
    <div>
      <% if @menus.count == 0 %>
        <div class="message-window anim-box poyoyon3 is-animated">
          <%= image_tag 'goukyu.png', class:"card-img-top piyo d-block mx-auto"%>
          <div>
            <h5>Owner Piyo</h5>
            <p>I want to open a new ice cream shop. But now there is no menu. Please help me!</p>
          </div>
        </div>
      <% elsif @menus.count >= 1 && @menus.count < 5 %>
        <div class="message-window anim-box poyoyon3 is-animated">
          <%= image_tag 'nice-hiyoko.png', class:"card-img-top piyo d-block mx-auto"%>
          <div>
            <h5>Owner Piyo</h5>
            <p>Thank you for creating a new menu! I'm glad if you create more!</p>
          </div>
        </div>
      <% elsif @menus.count >= 5 && @menus.count < 10 %>
        <div class="message-window anim-box poyoyon3 is-animated">
          <%= image_tag 'paaa.png', class:"card-img-top piyo d-block mx-auto"%>
          <div>
            <h5>Owner Piyo</h5>
            <p>Thanks to you, this shop has become so much better!</p>
          </div>
        </div>
      <% elsif @menus.count >= 10 && @menus.count < 15 %>
        <div class="message-window anim-box poyoyon3 is-animated">
          <%= image_tag 'ofuse-piyo.png', class:"card-img-top piyo d-block mx-auto"%>
          <div>
            <h5>Owner Piyo</h5>
            <p>I'm making money hand over fist! haha!</p>
          </div>
        </div>
      <% elsif @menus.count >= 15 %>
        <div class="message-window anim-box poyoyon3 is-animated">
          <%= image_tag 'not-matomo.png', class:"card-img-top piyo d-block mx-auto"%>
          <div>
            <h5>Owner Piyo</h5>
            <p>still adding menus! ? I love you!</p>
          </div>
        </div>
      <% end %>
      <%= link_to "Create New Menu", new_menu_path, class:"btn btn-primary btn-lg mt-3" %>
    </div>
  </div>
</div>
<div class="card-container-bottom">
  <div class="cards">
    <% @menus.each do |menu| %>
      <%= link_to menu_path(menu), class:'text-decoration-none' do%>
        <% if menu.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(menu.photo.key) %>)">
            <%= menu.name %>
          </div>
        <% else %>
          <div class="card-category">
            <%= menu.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
