<div class="show-container" data-controller="insert-in-list">
  <div class="show-contents">
    <h1><%= @menu.name %></h1>
    <% if @menu.photo.attached? %>
      <%= image_tag cl_image_path(@menu.photo.key)  %>
    <% else %>
      <%= image_tag 'ice.png'  %>
    <% end %>
    <p></p>
    <h4>Ice cream : <%= @menu.ice_cream.name %></h4>
    <p></p>
    <h4>Topping : <%= @menu.topping.name %></h4>
    <p></p>
    <h4>Container : <%= @menu.container.name %></h4>
    <p></p>
    <h4>comment : <%= @menu.comment %></h4>
    <p></p>
    <div class="review-container" >
      <h3><%= pluralize @menu.reviews.size, "review" %></h3>
      <div data-insert-in-list-target="items">
        <% @menu.reviews.each do |review| %>
          <div class="review-card ">
            <div>
              <p><%= review.content %> <%= link_to review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure? 😢"} do%>
                  <i class="fa-solid fa-trash-can" style="color: #ff68b4;"></i></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <p></p>
    <h3>Please add your review!</h3>
    <%= render "reviews/form", menu: @menu, review: Review.new %>
    <p></p>
    <%= link_to "Back", menus_path %>
    <p></p>
    <%= link_to "Delete this menu", menu_path(@menu), data: {turbo_method: :delete, turbo_confirm: "Are you sure? 😢"}%>
  </div>
</div>
